build-*
*.exe
*.o
*.d
*.zip
.codelite
.cache
.codelite
*.swp
hiscore.dat
*.dem
gamedata.dat
hiscore.dat
*.dataDebug*
bin*
game.pk0
*.pk0
invaders_better/assets
invaders_better/invaders_better
invaders_better/*.exe*-bin
*~
*#
.objs
invaders_better2
